html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to top,
    rgb(59, 139, 59),
    rgba(187, 214, 184, 0.9),
    rgba(207, 237, 200, 1),
    rgba(253, 254, 214, 1)
  );
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.body {
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 0;
}

.time-slot-btn-t {
  flex-direction: column;
  background-color: #4caf50;
}
.book-btn-t {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: rgba(34, 78, 34, 1);
}
.App-link {
  color: #61dafb;
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: "Lexend", sans-serif;
  color: rgba(34, 78, 34, 1);
}

.card-container1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-bottom: 0.5rem;
  border: none;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
}
.card-t {
  display: flex;
  height: 300px;

  padding: 1rem;
  background: linear-gradient(135deg, #fdfed6 0%, #049f87 100%);
  margin: 1rem 1rem;
  border-radius: 1rem;
  gap: 1rem;
  max-height: 6rem;
}

.card {
  background-color: rgba(207, 237, 200, 1);
  padding: 20px;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 40vw;

  justify-self: flex-start;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-image-t {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#logtext{
  text-align: center;
}

.turf-img {
  width: 8rem;
  max-height: 5rem;
  border-radius: 0.5rem;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.card label {
  font-weight: bold;
  
}

.card input[type="text"],
.card input[type="email"],
.card input[type="password"] {
  background-color: transparent;
  border: 2px solid rgba(34, 78, 34, 1);
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
.card select {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid rgba(34, 78, 34, 1);
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.card button {
  background-color: #4caf50;
  color: rgba(34, 78, 34, 1);
  padding: 16px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card button:hover {
  background-color: #45a049;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(207, 237, 200, 1);
  height: 80px;
  padding: 0 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.logo {
  height: 60px;
  margin-right: 10px;
}

.website-name {
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.nav-link {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  margin-right: 20px;
  cursor: pointer;
  font-family: "Lexend", sans-serif;
  color: rgba(34, 78, 34, 1);
  transition: color 0.3s ease-in-out;
  border-radius: 4px;
}
.card-container-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  margin-top: 2rem;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgb(104, 180, 104);
}

.menu-btn {
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
  }

  .navbar-left,
  .navbar-right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .navbar-right {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    margin: 5px 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.landing-page {
  text-align: center;
  margin-top: 50px;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#maintext {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
  transform: translateX(0%);
  color: rgba(34, 78, 34, 1);
  text-shadow: 2px 2px 4px rgba(187, 214, 184, 0.9);
  width: 100%;
  height: 50%;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.search-bar {
  display: flex;

  align-items: center;
  justify-content: center;

  border: 1px solid #ccc;
  border-radius: 15px;
  width: 300px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.search-icon {
  margin-right: 15px;
  cursor: pointer;
}

.book-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.book-button:hover {
  background-color: #0062cc;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.stars {
  color: gold;
  margin-right: 5px;
}

.rating-value {
  font-weight: bold;
  margin-left: 5px;
}

.explore-btn {
  background-color: rgba(207, 237, 200, 1);
  border: none;
  height: 4.5rem;
  width: 20rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  font-family: "Lexend", sans-serif;
  color: rgba(34, 78, 34, 1);
  margin-bottom: 0;
}

.explore-btn:hover {
  background-color: rgb(104, 180, 104);
}

@media only screen and (max-width: 768px) {
  #maintext {
    height: 40%;
    font-size: 1.2rem;
  }

  .explore-btn {
    width: 15rem;
    height: 4rem;
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 480px) {
  #maintext {
    height: 30%;
    font-size: 1rem;
  }

  .explore-btn {
    width: 12rem;
    height: 3.5rem;
    font-size: 1rem;
    padding: 8px 16px;
  }
}

.form-container button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #45a049;
}

/*New stylings for account page*/

.user-account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

h2 {
  font-family: "Lexend", sans-serif;
  color: rgba(34, 78, 34, 1);
  font-size: 36px;
  margin-bottom: 20px;
}

.user-card,
.dashboard-card,
.booking-history-card,
.preferences-card {
  background-color: rgba(207, 237, 200, 1);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 100%;
  
  font-family: "Lexend", sans-serif;
  color: rgba(34, 78, 34, 1);
}

h3 {
  font-family: "Lexend", sans-serif;
  color: rgba(34, 78, 34, 1);
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  font-family: "Lexend", sans-serif;
  color: rgba(34, 78, 34, 1);
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-family: "Lexend", sans-serif;
  color: rgba(34, 78, 34, 1);
  margin-bottom: 10px;
}

.logout {
  font-family: "Lexend", sans-serif;
  color: rgba(34, 78, 34, 1);
  text-align: center;
  margin-top: 30px;
}

.logout-button {
  font-family: "Lexend", sans-serif;
  color: rgba(34, 78, 34, 1);
  background-color: rgba(207, 237, 200, 1);
  padding: 16px 18px;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #45a049;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
  }

  .user-card,
  .dashboard-card,
  .booking-history-card,
  .preferences-card {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .logout {
    margin-top: 20px;
  }

  .logout-button {
    padding: 8px 16px;
  }
}
/*New stylings for lisitng page*/

.turf-owner-page {
  margin: 20px;
  font-family: "Lexend", sans-serif;
  color: rgba(34, 78, 34, 1);
}

.form-container {
  width: 50vw;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(207, 237, 200, 1);
  border-radius: 4px;
  font-size: 16px;
  background-color: rgba(230, 247, 226, 1);
  color: rgba(34, 78, 34, 1);
}

.submit-btn {
  background-color: rgba(207, 237, 200, 1);
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: rgba(230, 247, 226, 1);
}

@media screen and (max-width: 600px) {
  .form-container {
    max-width: 100%;
  }
}
.list-btn {
  background-color: transparent;
  border: none;
  font-family: "Lexend", sans-serif;
  color: rgba(34, 78, 34, 1);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.list-btn:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgb(104, 180, 104);
}
